* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(1, 1, 62);
  color: white;
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(8, 8, 93);
  height: 80px;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
  margin: 0;
  padding: 10px;
  font-size: 20px;
}

nav ul li {
  margin: 0 23px;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  color: rgb(92, 41, 139);
  font-size: 1.2rem;
}

/* Logo / Left text */
.left {
  text-align: center;
  padding: 50px;
  font-size: 1.5rem;
}

/* First Section */
.firstSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 120px 0;
}

.firstSection > div {
  width: 30%;
}

.leftsection {
  font-size: 3rem;
  
}

.leftsection .button {
  padding: 50px 0;
  
}

.leftsection .btn {
  padding: 12px 24px;
  color: white;
  background: #1e2167;
  border: 2px solid white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 20px;
}

.rightsection {
  width: 34%;
}

.profile-img {
  width: 80%;
  height: auto;
  margin: 20px 0;
}

/* Colors */
.purple {
  color: rgb(144, 82, 201);
  font-size: 4rem;
}

.text-gray {
  color: grey;
  margin-top: 10px;
}

#element {
  color: rgb(144, 82, 201);
}

/* Second Section */
.secondsection {
  max-width: 80vw;
  margin: auto;
  height: 80vh;
 
}

hr {
  background-color: white;
  border: 0;
  height: 1px;
  margin: 40px 0;
}

.secondsection h1 {
  font-size: 2rem;
}

.secondsection .box {
  background: white;
  width: 80vw;
  height: 2px;
  margin: 56px 0;
  display: flex;
}

.secondsection .vertical {
  height: 93px;
  width: 1px;
  background: white;
  margin: 0 6vw;
}


.vertical-img {
  width: 23px;
  position: relative;
  top: -32px;
  left: -9px;
}

.vertical-title {
  position: relative;
  top: 75px;
  width: 150px;
  font-size: 23px     ;
}

.vertical-Desc{
  position: relative;
  top: 86px;
  width: 150px;
  color: gray;
  font-size: 15px;
}

footer {
  background-color:#0e0e1a;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
  color: white;
  
  
  
}

.footer  {
  display: flex;
  padding: 23px 122px;
  justify-content: space-evenly;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer > div {
  width: 223px
}

footer .footer-text-center {
  color: gray;
  text-align: center;
  padding: 12px 0;
}

@media screen and (max-width: 1400px) 
{
    
.firstSection {
  flex-direction: column-reverse;
  
}

 .box {
  flex-direction: column;
}

.secondsection .vertical {
  height: unset;


}
.vertical-title, .vertical-Desc{
  left: 45px;
}

.secondsection .box {
  width: 50vw;
}

nav{
  flex-direction: column;
  height: auto;
}

.leftsection{
  width: 100% !important;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rightsection{
  width: 441px !important;
  display: flex;
  justify-content: center;
}

.secondsection{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200vh;
}

body{
  min-width: fit-content;
}
.rightsection img{
  width: 45vw;
  margin-bottom: 73px;
}
.vertical-img{
  top: 122px;
}
}