* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(1, 1, 62);
  color: white;
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(8, 8, 93);
  height: 80px;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
  margin: 0;
  padding: 10px;
  font-size: 20px;
}

nav ul li {
  margin: 0 23px;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  color: rgb(92, 41, 139);
  font-size: 1.2rem;
}

/* Logo / Left text */
.left {
  text-align: center;
  padding: 50px;
  font-size: 1.5rem;
}

/* First Section */
.firstSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 120px 0;
}

.firstSection>div {
  width: 30%;
}

.leftsection {
  font-size: 3rem;

}

.leftsection .button {
  padding: 50px 0;

}

.leftsection .btn {
  padding: 12px 24px;
  color: white;
  background: #1e2167;
  border: 2px solid white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 20px;
}

.rightsection {
  width: 34%;
}

.profile-img {
  width: 80%;
  height: auto;
  margin: 20px 0;
}

/* Colors */
.purple {
  color: rgb(144, 82, 201);
  font-size: 4rem;
}

.text-gray {
  color: grey;
  margin-top: 10px;
}

#element {
  color: rgb(144, 82, 201);
}

/* Second Section */
.secondsection {
  max-width: 80vw;
  margin: auto;
  height: 80vh;

}

hr {
  background-color: white;
  border: 0;
  height: 1px;
  margin: 40px 0;
}

.secondsection h1 {
  font-size: 2rem;
}

.secondsection .box {
  background: white;
  width: 80vw;
  height: 2px;
  margin: 56px 0;
  display: flex;
}

.secondsection .vertical {
  height: 93px;
  width: 1px;
  background: white;
  margin: 0 6vw;
}


.vertical-img {
  width: 23px;
  position: relative;
  top: -32px;
  left: -9px;
}

.vertical-title {
  position: relative;
  top: 75px;
  width: 150px;
  font-size: 23px;
}

.vertical-Desc {
  position: relative;
  top: 86px;
  width: 150px;
  color: gray;
  font-size: 15px;
}

footer {
  background-color: #0e0e1a;
  padding: 20px;
  margin-top: 40px;
  color: white;
}

.footer {
  display: flex;
  padding: 23px 122px;
  justify-content: space-evenly;
}

.footer ul {
  list-style: none;
  padding: 0;

}

.footer .footer-third ul li {
  margin-right: 20px;
  font-size: 30px;
  cursor: pointer;
  color: white;

}

footer .footer-third ul li a {

  color: white;

}

.footer .footer-fourth ul li a {
  margin-right: 20px;
  font-size: 20px;
  cursor: pointer;
  color: white;
  text-decoration: none;

}

.footer .footer-third ul {
  display: flex;
}

.footer-fourth {
  font-size: 17px;
  ;
}

.footer>div {
  width: 223px
}

footer .footer-text-center {
  color: gray;
  text-align: center;
  padding: 12px 0;
}

@media screen and (max-width: 1400px) {

  .firstSection {
    flex-direction: column-reverse;

  }

  .box {
    flex-direction: column;
  }

  .secondsection .vertical {
    height: unset;


  }

  .vertical-title,
  .vertical-Desc {
    left: 45px;
  }

  .secondsection .box {
    width: 50vw;
  }

  nav {
    flex-direction: column;
    height: auto;
  }

  .leftsection {
    width: 100% !important;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .rightsection {
    width: 441px !important;
    display: flex;
    justify-content: center;
  }

  .secondsection {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200vh;
  }

  body {
    min-width: fit-content;
  }

  .rightsection img {
    width: 45vw;
    margin-bottom: 73px;
  }

  .vertical-img {
    top: 122px;
  }

  .section {
    flex-direction: column;
  }

  .projects-container {
    flex-direction: column;
  }
}

.about-firstSection {
  display: flex;
  align-items: center;
  height: 100vh;
}


.about-leftsection {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 150px 0;


}

.About-image {
  height: 80vh;
  /* adjust as you like */
  width: auto;
  /* keeps image ratio */
  border-radius: 10px;
  margin: 20px;
  border: 2px solid white;
}

.about-Title {
  font-size: 50px;
  color: rgb(144, 82, 201);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;

}

.about-rightsection {
  width: 60%;
}

.name {
  font-size: 4rem;

}

.work {
  font-size: 2rem;
}

.highlight {
  color: #d41fd4;
}

.about-text {
  margin: 30px 0;
  font-size: 1rem;

}

.section {
  max-width: 90vw;
  margin: 150px auto;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

.section-webdeveloper {
  margin: 50px;
  border: 2px solid white;
  padding: 12px;
  background: #1b1b5f;
  border-radius: 15px;
  padding: 20px;
}

.section-webdeveloper:hover {
  transform: translateY(-10px);
  box-shadow: 10px 0 20px rgba(144, 82, 201, 0.4);
}


.section-tittle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}

.service-tittle {
  font-size: 2rem;
}


.services-img {
  height: 167px;
}



.projects-section {
  max-width: 80vw;
  margin: 120px auto;
  text-align: center;
}

.projects-heading {
  font-size: 3rem;
  color: rgb(144, 82, 201);
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.project-card {
  background-color: rgb(8, 8, 93);
  padding: 30px;
  border-radius: 12px;
  border: 2px solid rgb(144, 82, 201);
  transition: 0.3s;
}

.project-card h2 {
  color: rgb(144, 82, 201);
  margin-bottom: 15px;
}

.project-card p {
  color: #dcdcdc;
  line-height: 1.6;
  margin-bottom: 20px;
}

.project-link {
  text-decoration: none;
  color: white;
  border: 1px solid white;
  padding: 10px 20px;
  border-radius: 6px;
  transition: 0.3s;
}

.project-link:hover {
  background-color: rgb(144, 82, 201);
  border-color: rgb(144, 82, 201);
}


.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 20px rgba(144, 82, 201, 0.4);
}

/* ===== CONTACT PAGE ===== */

.contact-section {
  max-width: 80vw;
  margin: 120px auto;
  color: white;
  height: 50vh;
}

.contact-heading {
  text-align: center;
  font-size: 3rem;
  color: rgb(144, 82, 201);
  margin-bottom: 50px;
}

.contact-container {
  display: flex;
  gap: 50px;
}

.contact-info {
  width: 40%;
}

.contact-info h2 {
  color: rgb(144, 82, 201);
  margin-bottom: 15px;
}

.contact-info p {
  color: #dcdcdc;
  margin-bottom: 10px;
  line-height: 1.6;
}

.contact-form {
  width: 60%;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form input,
.contact-form textarea {
  background-color: rgb(8, 8, 93);
  border: 1px solid white;
  color: white;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 6px;
  font-size: 16px;
}

.contact-form button {
  background-color: rgb(144, 82, 201);
  color: white;
  border: none;
  padding: 12px;
  font-size: 18px;
  border-radius: 6px;
  cursor: pointer;
}

.contact-form button:hover {
  opacity: 0.9;
}